.emojis {
  margin: 0 auto;
  width: 350px; }

p {
  text-align: center;
  color: #aaa;
  font-family: 'Open Sans', 'Source Sans Pro', Verdana, Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2em;
  font-weight: 100; }
  p a {
    color: #f7aa86; }

.face-1 .mouth, .face-2 .mouth, .face-3 .mouth, .face-4 .mouth, .face-5 .mouth:before, .face-5 .mouth:after, .face-1 .eyes:before, .face-1 .eyes:after, .face-2 .eyes:before, .face-2 .eyes:after, .face-3 .eyes:before, .face-3 .eyes:after, .face-5 .eyes:before, .face-5 .eyes:after {
  z-index: 2;
  position: absolute; }

li {
  border-radius: 50%;
  background: #ffeb96;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block; }
  li.blue {
    background: -webkit-linear-gradient(270deg, #a4d3dd -5%, #ffeb96 50%);
    background: linear-gradient(180deg, #a4d3dd -5%, #ffeb96 50%); }
  li.red {
    background: -webkit-linear-gradient(270deg, #eb8671 -5%, #ffeb96 50%);
    background: linear-gradient(180deg, #eb8671 -5%, #ffeb96 50%); }

.face-1 .mouth, .face-2 .mouth, .face-3 .mouth {
  height: 9px;
  width: 18px;
  border-radius: 0 0 18px 18px;
  border-top: 2px solid #fff;
  background-color: #f7aa86;
  display: block; }

.face-4 .mouth {
  height: 9px;
  width: 18px;
  border-radius: 0 0 18px 18px;
  background-color: #fff;
  display: block; }

.face-5 .mouth:before, .face-5 .mouth:after {
  height: 5px;
  width: 5px;
  border-radius: 18px 9px 0 18px;
  border-left: 1.5px solid #000;
  border-top: 1.5px solid #000;
  background-color: #ffeb96;
  display: block;
  content: ""; }

.face-1 .eyes:before, .face-1 .eyes:after {
  background-color: #ffeb96;
  border: 1px solid #000;
  border-bottom: 0;
  content: "";
  display: inline-block;
  height: 3px;
  width: 6px;
  border-radius: 6px 6px 0 0; }

.face-2 .eyes:before, .face-2 .eyes:after, .face-3 .eyes:before, .face-3 .eyes:after, .face-5 .eyes:before, .face-5 .eyes:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%; }

.face-1 {
  -webkit-animation: face-1 1.7s infinite;
          animation: face-1 1.7s infinite; }
  .face-1 .eyes {
    margin: 14px 8px; }
    .face-1 .eyes:after {
      margin-left: 18px; }
  .face-1 .mouth {
    margin: 10px 11px; }

@-webkit-keyframes face-1 {
  0% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); }

  25% {
    -webkit-transform: scale(.9) rotate(-20deg) translate(-5px, -5px);
            transform: scale(.9) rotate(-20deg) translate(-5px, -5px);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
            animation-timing-function: cubic-bezier(1, 0, 1, 1); }

  50% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); }

  75% {
    -webkit-transform: scale(.9) rotate(20deg) translate(5px, -5px);
            transform: scale(.9) rotate(20deg) translate(5px, -5px);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
            animation-timing-function: cubic-bezier(1, 0, 1, 1); }

  100% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); } }

@keyframes face-1 {
  0% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); }

  25% {
    -webkit-transform: scale(.9) rotate(-20deg) translate(-5px, -5px);
            transform: scale(.9) rotate(-20deg) translate(-5px, -5px);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
            animation-timing-function: cubic-bezier(1, 0, 1, 1); }

  50% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); }

  75% {
    -webkit-transform: scale(.9) rotate(20deg) translate(5px, -5px);
            transform: scale(.9) rotate(20deg) translate(5px, -5px);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
            animation-timing-function: cubic-bezier(1, 0, 1, 1); }

  100% {
    -webkit-transform: scale(1.1) rotate(0) translate(0);
            transform: scale(1.1) rotate(0) translate(0);
    -webkit-animation-timing-function: cubic-bezier(0, 1, .5, 1);
            animation-timing-function: cubic-bezier(0, 1, .5, 1); } }

.face-2 {
  -webkit-animation: face-2 4s cubic-bezier(0, .5, .5, 1) infinite;
          animation: face-2 4s cubic-bezier(0, .5, .5, 1) infinite; }
  .face-2 .eyes {
    margin: 18px 6px; }
    .face-2 .eyes:after {
      margin-left: 22px; }
  .face-2 .mouth {
    -webkit-animation: face-2--mouth 2s cubic-bezier(0, 1, .5, 1) infinite;
            animation: face-2--mouth 2s cubic-bezier(0, 1, .5, 1) infinite;
    margin: 8px 11px;
    display: block; }

@-webkit-keyframes face-2--mouth {
  0% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid #fff;
    width: 18px;
    margin: 8px 11px; }

  50% {
    border-radius: 18px;
    border-top: 2px solid #fff;
    width: 9px;
    margin: 8px 15px; }

  100% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid #fff;
    width: 18px;
    margin: 8px 11px; } }

@keyframes face-2--mouth {
  0% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid #fff;
    width: 18px;
    margin: 8px 11px; }

  50% {
    border-radius: 18px;
    border-top: 2px solid #fff;
    width: 9px;
    margin: 8px 15px; }

  100% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid #fff;
    width: 18px;
    margin: 8px 11px; } }

@-webkit-keyframes face-2 {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }

  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); } }

@keyframes face-2 {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }

  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }

  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); } }

@-webkit-keyframes eyes-face-3 {
  0% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  20% {
    height: 4px; }

  22% {
    height: 0px; }

  24% {
    height: 4px; }

  45% {
    height: 4px; }

  47% {
    height: 0px; }

  49% {
    height: 4px; }

  60% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  62% {
    height: 0px; }

  65% {
    height: 4px;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px); }

  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px); }

  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes eyes-face-3 {
  0% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  20% {
    height: 4px; }

  22% {
    height: 0px; }

  24% {
    height: 4px; }

  45% {
    height: 4px; }

  47% {
    height: 0px; }

  49% {
    height: 4px; }

  60% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  62% {
    height: 0px; }

  65% {
    height: 4px;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px); }

  82% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px); }

  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.face-3 .eyes {
  margin: 18px 6px; }
  .face-3 .eyes:before {
    -webkit-animation: eyes-face-3 4s ease-in-out infinite;
            animation: eyes-face-3 4s ease-in-out infinite; }
  .face-3 .eyes:after {
    -webkit-animation: eyes-face-3 4s ease-in-out infinite;
            animation: eyes-face-3 4s ease-in-out infinite;
    margin-left: 22px; }
.face-3 .mouth {
  margin: 8px 11px;
  display: block; }

@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0.5, -0.5, 1, 1);
            animation-timing-function: cubic-bezier(0.5, -0.5, 1, 1); }

  20% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0.5, -0.5, 1, 1);
            animation-timing-function: cubic-bezier(0.5, -0.5, 1, 1); }

  20% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.face-4 .eyes {
  margin: 18px 6px;
  -webkit-animation: heart-beat 1s infinite;
          animation: heart-beat 1s infinite; }
.face-4 .mouth {
  margin: -18px 11px;
  display: block; }

.face-4 .eyes {
  position: relative;
  width: 10px;
  height: 9px; }

.face-4 .eyes:before, .face-4 .eyes:after {
  position: absolute;
  content: "";
  left: 5px;
  top: 0;
  width: 5px;
  height: 8px;
  background: pink;
  border-radius: 5px 5px 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%; }

.face-4 .eyes:after {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%; }

@-webkit-keyframes eye-blink {
  0% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  20% {
    height: 4px; }

  22% {
    height: 0px; }

  24% {
    height: 4px; }

  45% {
    height: 4px; }

  47% {
    height: 0px; }

  49% {
    height: 4px; }

  60% {
    height: 4px; }

  62% {
    height: 0px; }

  65% {
    height: 4px; } }

@keyframes eye-blink {
  0% {
    height: 4px;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  20% {
    height: 4px; }

  22% {
    height: 0px; }

  24% {
    height: 4px; }

  45% {
    height: 4px; }

  47% {
    height: 0px; }

  49% {
    height: 4px; }

  60% {
    height: 4px; }

  62% {
    height: 0px; }

  65% {
    height: 4px; } }

@-webkit-keyframes kiss-lips {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  50% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; } }

@keyframes kiss-lips {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  50% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; } }

.face-5 .eyes {
  margin: 18px 6px; }
  .face-5 .eyes:before {
    -webkit-animation: eye-blink 4s ease-in-out infinite;
            animation: eye-blink 4s ease-in-out infinite; }
  .face-5 .eyes:after {
    -webkit-animation: eye-blink 4s ease-in-out infinite;
            animation: eye-blink 4s ease-in-out infinite;
    margin-left: 22px; }
.face-5 .mouth {
  padding: 7px 18px;
  -webkit-animation: kiss-lips 1s infinite;
          animation: kiss-lips 1s infinite; }
  .face-5 .mouth:after {
    height: 5px;
    width: 3px;
    margin-top: 5px; }
