//This is the only scss file because its for Codepen

//colors
$yellow: #ffeb96;
$white: #fff;
$peach: #f7aa86;
$geraldine: #eb8671;
$copy: #aaa;
$black: #000;
$face--blue: #a4d3dd;

$eye-size: 6px;

p {
  text-align: center;
  color: $copy;
  font-family: 'Open Sans', 'Source Sans Pro', Verdana, Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2em;
  font-weight: 100;

  a {
    color: $peach;
  }
}

%face {
  z-index: 2;
  position: absolute;
}

li {
  border-radius: 50%;
  background: $yellow;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;

  &.blue {
    background: linear-gradient(180deg, $face--blue -5%, $yellow 50%);
  }

  &.red {
    background: linear-gradient(180deg, $geraldine -5%, $yellow 50%);
  }
}

%mouth--smile {
  @extend %face;
  height: 9px;
  width: 18px;
  border-radius: 0 0 18px 18px;
  border-top: 2px solid $white;
  background-color: $peach;
  display: block;
}

%eye--upturned {
  @extend %face;
  background-color: $yellow;
  border: 1px solid $black;
  border-bottom: 0;
  content: "";
  display: inline-block;
  height: $eye-size/2;
  width: $eye-size;
  border-radius: $eye-size $eye-size 0 0;
}

%eye--open {
  $eye-size: 4px;
  @extend %face;
  background-color: $black;
  content: "";
  display: inline-block;
  height: $eye-size;
  width: $eye-size;
  border-radius: 50%;
}

.face-1 {
  animation: face-1 1.7s infinite;
  .eyes {
    margin: 14px 8px;
    &:before {
     @extend %eye--upturned;
    }
    &:after {
     @extend %eye--upturned;
     margin-left: 18px;
    }
  }
  .mouth {
    @extend %mouth--smile;
    margin: 10px 11px;
  }
}

@keyframes face-1 {
  0% {
    transform: scale(1.1) rotate(0) translate(0);
    animation-timing-function: cubic-bezier(0,1,.5,1);
  }
  25% {
    transform: scale(.9) rotate(-20deg) translate(-5px,-5px);
    animation-timing-function: cubic-bezier(1,0,1,1);
    }
  50% {
    transform: scale(1.1) rotate(0) translate(0);
    animation-timing-function: cubic-bezier(0,1,.5,1);
  }
  75% {
    transform: scale(.9)  rotate(20deg) translate(5px,-5px);
    animation-timing-function: cubic-bezier(1,0,1,1);
  }
  100% {
    transform: scale(1.1) rotate(0) translate(0);
    animation-timing-function: cubic-bezier(0,1,.5,1);
  };
}

.face-2 {
  animation: face-2 4s cubic-bezier(0,.5,.5,1) infinite;
  .eyes {
    margin: 18px 6px;
    &:before {
     @extend %eye--open;
    }
    &:after {
     @extend %eye--open;
     margin-left: 22px;
    }
  }
  .mouth {
    animation: face-2--mouth 2s cubic-bezier(0,1,.5,1) infinite;
    @extend %mouth--smile;
    margin: 8px 11px;
    display: block;
  }
}

@keyframes face-2--mouth {
  0% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid $white;
    width: 18px;
    margin: 8px 11px;
  }
  50% {
    border-radius: 18px;
    border-top: 2px solid $white;
    width: 9px;
    margin: 8px 15px;
  }
  100% {
    border-radius: 0 0 18px 18px;
    border-top: 2px solid $white;
    width: 18px;
    margin: 8px 11px;
  }
}

@keyframes face-2 {
  0% {
    transform: rotate(-20deg);
    }
    50% {
    transform: rotate(20deg);
  }
    100% {
    transform: rotate(-20deg);
    }
}

@keyframes eye-blink {
  0% {
    height: $eye-size;
    transform: translateX(0);
  }
  20% {
    height: $eye-size;
  }
  22% {
    height: 0px;
  }
  24% {
    height: $eye-size;
  }
  45% {
    height: $eye-size;
  }
  47% {
    height: 0px;
  }
  49% {
    height: $eye-size;

  }
  60% {
    height: $eye-size;
    transform: translateX(0);
  }
  62% {
    height: 0px;
  }
  65% {
    height: $eye-size;
    transform: translateX(-4px);
  }
  82% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(0);
  }
}

.face-3 {
  // animation: face-2 4s ease-in-out infinite;
  .eyes {
    margin: 18px 6px;
    &:before {
     @extend %eye--open;
     animation: eye-blink 4s ease-in-out infinite;
    }
    &:after {
     @extend %eye--open;
     animation: eye-blink 4s ease-in-out infinite;
     margin-left: 22px;
    }
  }
  .mouth {
    // animation: face-2--mouth 2s ease-in-out infinite;
    @extend %mouth--smile;
    margin: 8px 11px;
    display: block;
  }
}
